body{
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    background-color: #f5f3ea;
}
.conteiner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}  
.border{
    border-bottom: 1px solid#252525;
}