.contact{
   display: grid;
   justify-items: center;
   @media (min-width:1200px){

   }
}
.contact__container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    @media (min-width:1200px){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.container__title-wrap{
    font-size: clamp(55px,17vw, 80px);
    color:#333;
    font-family: Girloy-light;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;

    @media (min-width:1200px){
        grid-column: 1;
        text-align: start;
    }
}
.container__title{
color: #333;
font-family: Gilroy;
font-size: 155px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-transform: uppercase;
margin-left: 70px; 
}
.container__start{
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-column: 2;
    max-width: 870px;
}
.container__start-title{
    font-family: Girloy-bold;
    text-transform: uppercase;
    font-weight: 400;
    font-size: clamp(32px, 10vw, 50px);
    text-align: center;
    @media (min-width:1200px){
        text-align: start;
    }
}
.container__start-dscr{
    font-family: Girloy-Medium;
    font-size: clamp(20px,6vw,30px);
    font-weight: 400;
    text-align: center;
    @media(min-width:768px){
        font-size: 33px;
    }
    @media(min-width:1200px){
        text-align: start;
        font-size: clamp(22px,1.8vw,34px);
    }
}
.container__start-link{
   @media(max-width:767px){
    width: 100%;
   } 
   @media(min-width:768px){
    margin-left: auto;
    margin-right: auto;
   }
   @media(min-width:1200px){
    margin-left: 0;
   }
}
.main-button{
    width: max-content;
    font-family: 'Gilroy-Medium', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 30px;
    background-color: #252525;
    color: #fff;
    border-radius: 50px;
  
    font-size: 18px;
    &::after {
      content: '';
      width: 14px;
      height: 22px;
      background-image: url(../images/Frame-2.svg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  