.page-section-fourth {
    padding-bottom: 30px;
    border-bottom: 1px solid #252525;

    @media (max-width: 1200px){
        padding-bottom: 70px;
    }
    @media (min-width: 768px){
        padding-bottom: 70px;
    }
    @media (min-width: 1200px){
        padding-bottom: 130px;
    }
}

.page-section-fourth__title{
    color: #252525; 
    text-align: center;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 70px;
    font-weight: 300;
    text-transform: uppercase; 
}

.page-section-fourth__cards {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    background-color: #000000;
    gap: 1px;
    padding-left: 0;
    margin: 0;

    @media (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.page-section-fourth__box {
    background-color: #f5f3ea;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.page-section-fourth__box-dscr {
    color: #333;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    margin: 0;
}

.page-section-fourth__box-text {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

.page-section-fourth__wrapper {
    display: flex;
}

.page-section-fourth__box-image {
    border-radius: 50px;
}

.page-section-fourth__box-person {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 0;
}

.page-section-fourth__box-prof {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}
